html, body {
    margin: 0;
    padding: 0;
    background: white;
}

html {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: 28px auto;
    grid-template-columns: 100%;
    min-height: 100%;
}

.app-canvas, .application, .application-mail {
    display: grid;
}

.config {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px;
    border: 1px solid red;
    user-select: none;
}

.config p {
    margin: 0;
}

.headline {
    height: 28px;
    background: gold;
}

.portal-menu {
    background-color: #005ff9;
    color: #ffffff;
    position: relative;
}

.search-panel {
    position: absolute;
    right: 0;
}

.application-mail__overlay {
    display: grid;
    grid-template-rows: 56px auto;
    grid-template-columns: 100%;
}

.application-mail__overlay > .layout {
    grid-column: 1;
    grid-row: 2;
}

.application-mail__overlay > .portal-menu {
    grid-column: 1;
    grid-row: 1;
}

.application-mail__overlay > .portal-overlay {
    position: absolute;
}

.layout {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto 280px minmax(300px, 1024px) 200px;
    grid-gap: 10px;
    margin: 0 auto;
    min-width: 840px;
    max-width: 1564px;
}

.layout__column_left {
    position: relative;
    background-color: aquamarine;
    max-width: 250px;
    min-width: 96px;
}
.layout__column_right {
    background-color: lightpink;
}

.column-resize {
    position: absolute;
    right: -3px;
    width: 6px;
    top: 0px;
    bottom: 0px;
    background-color: red;
    cursor: ew-resize;
}